{% extends 'core/base.html' %}

{% block content %}

<!-- Filter Starts here -->
<div class="flex h-screen">
    <div class="bg-gray-500 w-1/4 p-8">
        <h2 class="font-bold text-gray-200 text-2xl mb-6">Filter your search</h2>
        <form action=".">

            <label class="text-gray-200" for="location">location</label>
            <select class="w-full rounded-sm mb-2" name="location-query" id="location">
                <option value="none" selected disabled hidden>Select an option</option>
                {% for place in location %} 
                <option value="{{ place.id }}">{{ place.name }}</option>
                {% endfor %}
            </select><br>

            <label class="text-gray-200" for="style">Style</label>
            <select class="w-full rounded-sm mb-2" name="style-query" id="style">
                <option value="none" selected disabled hidden>Select an option</option>
                {% for style in styles %}
                <option value="{{ style.0 }}">{{ style.1 }}</option>
                {% endfor %}
            </select><br>

            <label class="text-gray-200" for="price">Budget</label>
            <input class="w-full rounded-sm mb-2" name="price-query" type="number"><br>

            <label class="text-gray-200" for="water">water availability</label>
            <input class="mb-2" name="water-query" type="checkbox"><br>

            <label class="text-gray-200" for="occupied">Occupied</label>
            <input class="mb-2" name="occupied-query" type="checkbox" checked><br>

            <button class="px-12 py-2 mt-5 bg-purple-900 rounded-md text-gray-200 font-bold" type="submit">Apply</button>
        </form>
    </div>



<!-- Results Starts here -->
    <div class="grid bg-gray-200 w-3/4 p-8">
       <h2 class="font-bold text-gray-800 text-2xl">Results</h2> 
    {% for house in queryset %}
    <div>
        <img src="{{ house.pictures.url }}" alt="">
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}